/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
  --font-color: rgb(0 0 0);
  --font-active-accent: rgb(0 0 0 / 0.6);
  --font-variable-weight-text: 400;
  --font-variable-weight-title: 700;
  --background-color: #fff;
}

:root.theme-dark {
  --font-color: rgb(0 204 20);
  --font-active-accent: rgb(0 204 20 / 0.6);
  --font-variable-weight-text: 465;
  --font-variable-weight-title: 785;
  --background-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    }
}